<% if logged_in? %>
    <div class="container-fluid">
      <div class="summary row">
        <div class="row">
          <div class="form-button" >
            <%= link_to "Create task", new_task_path, class: "btn btn-small btn-primary" %>

          </div>
        </div>


        <div class="col-md-8">
          <h4> Displaying <%= @tasks.size %> tasks
              <% if @tasks.size < @total_num_tasks %>
              (of <%= @total_num_tasks %>)
              <% end %>
          </h4>
        </div>
      </div>
      <%=  will_paginate @tasks %>

      <div class="panel panel-default">
      <!-- div class="panel-heading">Panel heading</div -->
      <table class="table tablesorter table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th>Task summary</th>
          <th>Task creator</th>
          <th>assigned to</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%= render partial:"tasks/table_task", collection:@tasks, as: :task %>
        </tbody>
      </table>
        <%=  will_paginate @tasks %>
      </div>
    </div>
<% else %>
  <div class="center jumbotron">

    <h1>Welcome to <%= base_app_title %></h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

