<%= render 'shared/error_messages', object: f.object %>

<%= f.label :summary %>
<%= f.text_field :summary, class: 'form-control' %>

<%= f.label :details %>
<%= f.text_field :details, class: 'form-control' %>

<%= f.label :deadline %>
<%= f.date_select :deadline, class: 'form-control' %>

<p>
  <%= f.label :assignee %>
  <%= f.collection_select :assignee_id, User.all, :id, :name, include_blank:"None selected", class: 'form-control' %>
</p>
