<% provide(:title, "Task") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8"> <h3><%= @task.summary %></h3> </div>
  </div>
  <div class="row">
    <div class="col-md-4 product-key">
      <span class="task-label">Details: </span>
      <% if @task.details %>
          <%= @task.details  %>
      <% else %>
          <em>None</em>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span class="task-label">Owner: </span>
      <%= link_to( @task.owner.name, @task.owner) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span class="task-label">Deadline: </span>
      <% if @task.deadline %>
        <%= @task.deadline %>
      <% else %>
        <em>None</em>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <span class="task-label">Assigned to: </span>
      <% if @task.assignee %>
          <%= link_to( @task.assignee.name, @task.assignee) %>
      <% else %>
          <em>Not assigned</em>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 form-button">
      <%= link_to "Edit", edit_task_path(@task), class: "btn btn-small btn-primary" %>

    </div>
  </div>
</div>


